.third-div-box { grid-area: third-div-box; }
.third-div-box1 { grid-area: third-div-box1; }
.third-div-box2 { grid-area: third-div-box2; }
.third-div-box3 { grid-area: third-div-box3; }
.third-div-box4 { grid-area: third-div-box4; }
.third-div-box5 { grid-area: third-div-box5; }
.third-div-box6 { grid-area: third-div-box6; }

.main-box-third-div{
    width: 100%;
    max-width: 1596px;
    min-height: 1664px;
    height: auto;
    border: dashed 2px #262626;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 386px 1fr 1fr  ;
    grid-template-areas: 
    "third-div-box third-div-box third-div-box"
    "third-div-box1 third-div-box2 third-div-box3"
    "third-div-box4 third-div-box5 third-div-box6";
}

.third-div-box{
    border-bottom: 2px dashed #262626;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 386px;
    position: relative; 
    overflow: hidden;
}


.third-div-main-box-header{
    margin: 80px 0 30px 80px;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
}

.third-div-main-box-paragraph{
    margin-left: 80px;
    font-size: 18px;
    font-weight: 400;
    color: #676665;
}

.third-div-nav-bar{
    width: 432px;
    height: 63px;
    display: flex;
    justify-content: space-between;
    color: #b3b3b2;
    font-size: 18px;
    font-weight: 400;
    margin-left: 80px;
    margin-top: 50px;
    >li{
        display: flex;
        align-items: center;
        height: 63px;
        padding: 14px 24px;
        border-radius: 12px;
        border: 1px dashed #333333;
    }
    >li:first-child{
        width:81px;
    }
    >li:nth-child(2){
        width:92px;
    }
     >li:nth-child(3){
        width:113px;
        background-color: #c2b4a3;
        color: #0f0f0f;}
    >li:last-child{
        width:92px;}
    >li:hover {
    font-weight: 900;
    background-color: #e4dddd; 
    cursor: pointer; 
    transition: background-color 0.4s ease, color 0.4s ease;
    color: #e23b0d;
}
}

.third-div-main-box-img{
position: absolute;    
top:50%;
right: -15%;
transform: translateY(-50%);
transform-origin: center;
transform: translate(0)rotate(0deg);
animation: cercleMove 2s linear infinite;
}



    
@keyframes cercleMove  {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.third-div-img{
    width: 472px;
    height: 386px; 
    border-radius: 50px 50px 0 0;
    position: relative;
    margin: 30px 30px 0 30px;
    transition: transform 0.4s ease-in-out;
}
.third-div-img:hover {
    transform: scale(1.1);
}

.third-div-main-box-headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 472px;
    height: 63px;
    margin: 30px 0 0 30px;
    >span{
    border-radius: 100px;
    border: dashed 1px #a1a1a1  ;
    width: 142px;
    height: 47px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: #b3b3b2;
    }
    >button{
    border-radius: 12px;
    border: dashed 1px #1a1a1a ;
    width: 159px;
    height: 63px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    }
}
.third-div-img-header{
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    margin: 20px 30px 0 30px;
    }

.third-div-img-paragrap{
    font-weight: 500;
    font-size: 20px;
    color: #ccc;
    margin: 14px 30px 0 30px;
    >span{
    font-weight: 400;
    font-size: 18px;
    color: #81807e;
    margin-right: 10px;
    }
}

.third-div-box1{
    border-bottom: 2px dashed #262626;
    border-right: 2px dashed #262626;
}
.third-div-box2{
    border-bottom: 2px dashed #262626;
    border-right: 2px dashed #262626;
}
.third-div-box3{
    border-bottom: 2px dashed #262626 ;
    
}
.third-div-box4{
    border-right: 2px dashed #262626;
}
.third-div-box5{
    border-right: 2px dashed #262626;
}